.sendIcon {
    width: 24px;
    height: 24px;
    transform: rotate(45deg);

}

.inputBox {
    box-sizing: border-box;

    /* Auto layout */

    justify-content: center;
    align-items: flex-start;
    padding: 0px 15px;
    gap: 10px;

    width: 75%;
    height: 50px;
    display: flex;
    flex-direction: row;

    border: 1px solid #000000;
    border-radius: 25px
}

.inputBox:focus {
    border: 2px solid #000000;
    box-shadow: none;
}

.flexrow {
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 100%;
    height: 12%;


    /* Inside auto layout */
    align-self: stretch;

}

.sendbutton {
    
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 60px;
    height: 50px;

    background: #000000;
    border-radius: 15px;
}