.menuWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 25px;
    gap: 10px;
    
    position: relative;
    width: 257px;
    z-index: 1000;
    
    background: #000000;
    border-radius: 0px 15px 15px 15px;
}