/*!*************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./src/components/drop-down-menu/drop-down-menu.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************/
.drop-down-menu_menuWrapper__hT_VW{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 25px;
    gap: 10px;
    
    position: relative;
    width: 257px;
    z-index: 1000;
    
    background: #000000;
    border-radius: 0px 15px 15px 15px;
}
