.center{
    justify-content: center;
    align-items: center;
}
div.onlineindicator {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-right: 3px;
    
    background-color: #0fcc45;
    border-radius: 50%;
    
    position: relative;
  }
  span.blink {
    display: block;
    width: 6px;
    height: 6px;
    
    background-color: #0fcc45;
    opacity: 0.7;
    border-radius: 50%;
    
    animation: blink 1s linear infinite;
  }

  /*Animations*/

@keyframes blink {
    100% { transform: scale(2, 2); 
            opacity: 0;
          }
  }